body {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    background: rgba(0, 151, 19, 0.1); 
}

#sweetsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

li {
    list-style: none;
    display: inline-block;
    margin: 3px;
}

img {
    height: 400px;
    width: 325px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftSide {
    width: 45%;
    margin: 5px;
}

.rightSide {
    float: right;
}

.clearfix {
    clear: both;
    font-size: 1px;
}

.aboutSection {
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: #000000;
}
